.App {
  text-align: center;
}

.App .container {
  width: 100%;
  height: 100vh;
  background-color: rgb(110, 0, 120);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App .item-container {
  padding-top: 10px;
  padding-bottom: 10px;
}


.App .value {
  color: white;
  font-size: 20px;
}
.App .title {
  color: white;
  font-size: 34px;
  font-weight: bold;
  padding-bottom: 10px;
}
