.App {
  text-align: center;
}

.App .container {
  width: 100%;
  height: 100vh;
  background-color: rgb(110, 0, 120);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App .item-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.App .todays-count-container {
  display: flex;
  border: 2px solid white;
  border-radius: 6px;
  width: 98%;
}

.App .change-value {
  width: 100%;
  height: 50px;
  color: white;
  font-size: 28px;
  text-align: center;
  border-right: 2px solid white;
  line-height: 48px;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
}

.App .change-value:active {
  background-color: rgb(255, 255, 255);
  color:rgb(109, 109, 109);
}

.App .todays-count {
  border-right: 2px solid white;
  line-height: 48px;
  width: 60%;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.App .change-value:last-child {
  border-right: none;
}

.App .value,
.App .todays-count {
  color: white;
  font-size: 28px;
}
.App .title {
  color: white;
  font-size: 34px;
  font-weight: bold;
  padding-bottom: 10px;
}
